{% extends 'base_advance.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
<div class="jumbotron jumbotron-center">
    {% if user.is_authenticated %}
    <h2>Hello !{{ user.username }} <small> 以下是你的Todo List （按照优先度由大到小排序)</small></h2>
    {% else %}
    <h2>Welcome to Todolist site</h2>
    <h3><small>要体验完整功能，请先登录</small></h3>
    <p><a class="btn btn-primary btn-lg" href="{% url 'advance:user_login' %}" role="button">Login </a></p>
    {% endif %}
</div>

{% if item_list %}
    {% for i in item_list %}
        {% if i.item_prority  == 10 %}
        <div class="list-group">
        <a href="{% url 'advance:item_detail' i.id %}" class="list-group-item list-group-item-danger">{{ i.item_name }}</a>
        </div>
        {% elif i.item_prority >= 5 and i.item_prority < 10 %}
        <div class="list-group">
        <a href="{% url 'advance:item_detail' i.id %}" class="list-group-item list-group-item-warning">{{ i.item_name }}</a>
        </div>
        {% elif i.item_prority > 1 and i.item_prority < 5 %}
        <div class="list-group">
            <a href="{% url 'advance:item_detail' i.id %}" class="list-group-item list-group-item-info">{{ i.item_name }}</a>
        </div>
        {% elif i.item_prority == 1 %}
        <div class="list-group">
        <a href="{% url 'advance:item_detail' i.id %}" class="list-group-item list-group-item-success">{{ i.item_name }}</a>
        </div>
        {% endif %}
    {% endfor %}
{% else %}
    <h2>你现在啥也没有啊</h2>
{% endif %}

{% endblock %}
